/* 
to connect fonts at the end of the code add: &display=swap 
font should be connected after null.css & before other styles
*/
@import "null.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,900&display=swap");

/* ================================================================ */
body {
  font-family: "Roboto", sans-serif;
  font-size: calc(14px + 4 * ((100vw - 320px)/(1440 - 320)));
  color: #30444E;
}
body.lock {
  overflow: hidden;
}
.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
[class*="__container"] {
  max-width: 1156px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.page {
  flex: 1 1 auto;
}
.footer {
  background-color: rgb(238, 66, 72);
  min-height: 64px;
  padding-top: 21px;
}
.title {
  font-weight: 500;
  font-size: calc(28px + 4 * ((100vw - 320px)/(1440 - 320)));
  line-height: 133.69%;
  color: #1F2E35;
}
.title span {
  color: #EE4248;
}
.button {
  display: inline-block;
  color: #fff;
  background-color: #EE4248;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
@media (min-width: 1024px){
  .button:hover{
    background-color: #df1f25;
    font-weight: 500;
  }
}
/* ================================================================ */
.header__content {
  display: flex;
  align-items: center;
  min-height: 100px;
}
.header__logo {
  position: relative;
  z-index: 5;
  flex: 0 1 15%;
}
@media (max-width: 424.98px) {
  .header__logo {
    flex: 0 1 71px;
    overflow: hidden;
  }
}
.header__menu {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
}
.menu__list {
  display: flex;
  gap: 50px;
}
@media (max-width: 991.98px) {
  .menu__list {
    gap: 25px;
  }
}
@media (max-width: 844.98px) {
  .menu__list {
    gap: 15px;
  }
}
.menu__list li {
  line-height: 1.16;
  color: #1f2e35cc;
  position: relative;
}
.menu__list>li {
  padding: 10px 0;
}
.arrow {
  display: inline-block;
  width: 13px;
  height: 9px;
  background: url(../img/icons/arrow.svg);
  margin: 0 0 0 8px;
  transition: all 0.5s;
}
@media (min-width: 1024px) {
  body.desktop .menu__list li:hover {
    text-decoration: underline;
  }
  body.desktop .menu__list li:hover .arrow {
    transform: rotate(-180deg);
    transition: all 0.5s;
  }
  body.desktop .menu__list li:hover .menu__sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
  }
}
.menu__sub-list {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 15px;
  background-color: #fff;
  min-width: 300px;
  border-radius: 5px;
  box-shadow: 0px 3px 10px 0px rgba(238, 66, 72, 0.7);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translate(0px, 10%);
  transition: all 0.3s ease 0s;
}
.menu__sub-list li:not(:last-child) {
  margin-bottom: 10px;
}
body.touch .menu__list-item.active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}
body.touch .menu__list-item.active>.arrow {
  transform: rotate(180deg);
}
.header__actions {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: end;
  flex: 0 1 15%;
}
.header__actions a:not(:last-child) {
  margin-right: 24px;
}
/* -------------Burger------------- */
/* !Передивитись код бургеру в кінці */
.menu__icon {
  display: none;
}
@media (max-width: 767.98px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .header__logo {
    order: 1;
  }
  .header__menu {
    order: 3;
    flex: 0 0 auto;
  }
  .header__actions {
    order: 2;
    flex: 1 1 auto;
    display: flex;
    justify-content: end;
    padding-right: 25px;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #30444E;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon.active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #ee4248;
    padding: 120px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body.active {
    left: 0;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
    background-color: #fff;
    z-index: 2;
  }
  .menu__list {
    display: block;
  }
  .menu__list > li:not(:last-child) {
    margin-bottom: 20px;
  }
  .menu__list > li.active .menu__sub-list {
    display: block;
    margin-bottom: 0;
    margin-top: 20px;
  }
  .menu__link {
    font-size: 24px;
  }
  .menu__sub-list {
    position: relative;
    flex: 1 1 100%;
    display: none;
  }
  .menu__sub-list li:not(:last-child) {
    margin-bottom: 10px;
  }
  .menu__sub-list li {
    padding: 10px 0;
  }
  .menu__sub-list-link {
    font-size: 20px;
  }
}
/* -------------Burger------------- */
/* ================================================================ */
.information__container {
  display: flex;
  padding: 210px 15px 158px;
}
.information__content *:last-child {
  margin-bottom: 0;
}
.information__content {
  flex: 0 1 50%;
  align-self: center;
  padding-right: 13px;
}
.information__button {
  display: inline-block;
  font-size: calc(16px + 4 * ((100vw - 320px)/(1440 - 320)));
  line-height: 1.3;
  padding: 12px 32.5px;
  margin: 0 0 10px 0;
}
@media (max-width: 424.98px) {
  .information__button {
    display: block;
  }
}
.information__title {
  font-weight: 700;
  font-size: calc(32px + 16 * ((100vw - 320px)/(1440 - 320)));
  line-height: 133.69%;
  color: #1F2E35;
  margin-bottom: 24px;
}
.information__text {
  font-size: calc(16px + 4 * ((100vw - 320px)/(1440 - 320)));
  line-height: 1.45;
  margin-bottom: 24px;
}
.information__image {
  flex: 0 1 50%;
}
.information__image img {
  min-height: 100%;
}
@media (max-width: 1023.98px) {
  .information__image img {
    max-height: 100%;
    max-width: 100%;
  }
}
/* Tablet */
@media (max-width: 991.98px) {
  .information__container {
    flex-direction: column;
    padding: 130px 15px 50px;
  }

  .information__content {
    margin-bottom: 50px;
  }

  .information__image {
    flex: 1 1 100%;
    align-self: center;
  }

  .information__content {
    padding-right: 0;
  }
}
/* Mobile */
@media (max-width: 767.98px) {
  .information__content {
    text-align: center;
  }
}
/* ================================================================ */
.welcome {
  background-color: #F7F7F7;
}
.welcome__container {
  display: flex;
  gap: 80px;
  align-items: center;
  padding: 57px 15px 63px;
}
.welcome__image {
  flex: 1 1 50%;
}
.welcome__image img {
  max-width: 100%;
  max-height: 100%;
}
.welcome__content {
  flex: 1 1 50%;
}
.welcome__content *:last-child {
  margin-bottom: 0;
}
@media (max-width: 991.98px) {
  .welcome__container {
    flex-direction: column-reverse;
    gap: 0;
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .welcome__content {
    margin-bottom: 40px;
  }
}
.welcome__title {
  margin-bottom: 24px;
}
@media (max-width: 767.98px) {
  .welcome__title {
    text-align: center;
  }
}
.welcome__content p {
  margin-bottom: 35px;
  line-height: 150%;
}
/* ================================================================ */
.products__container {
  padding: 96px 15px 64px;
}
.products__title {
  text-align: center;
  margin-bottom: 41px;
}
.products__items {
  display: flex;
  gap: 9px;
}
.product-card__item {
  display: flex;
  flex-direction: column;
  flex: 0 1 33.333%;
  padding: 24px 10px 4px 24px;
}
.product-card__item *:last-child{
  margin-bottom: 0;
}
.product-card__icon {
  margin-bottom: 15px;
}
.product-card__content {
  flex: 1 1 auto;
  margin-bottom: 15px;
}
.product-card__title {
  font-weight: 500;
  font-size: calc(24px + 4 * ((100vw - 320px)/(1440 - 320)));
  line-height: 133.69%;
  color: #EE4248;
  margin-bottom: 15px;
}
.product-card__text {
  line-height: 150%;
  margin-bottom: 15px;
}
.product-card__text p:last-child{
  margin-bottom: 0;
}
.product-card__button {
  line-height: 144.69%;
  padding: 8px 16px;
}
.product-card__link-margin {
  margin-bottom: 15px;
}
@media (max-width: 681.98px) {
  .products__container {
    padding: 48px 15px 24px;
  }
  .products__items {
    flex-direction: column;
    text-align: center;
    gap: 0;
  }
  .product-card__item {
    margin-bottom: 45px;
    padding: 0;
  }
  .products__items *:last-child {
    margin-bottom: 0;
  }
  .product-card__button {
    display: block;
  }
}
/* ================================================================ */
.contacts__container {
  display: flex;
  flex-direction: column;
  padding: 65px 15px 29px;
}
.contacts__header,
.contacts__footer {
  display: flex;
  gap: 47px;
}
.contacts__header-logo {
  flex: 0 0 28.3%;
  align-self: flex-end;
  margin-bottom: 10px;
}
.contacts__header-title {
  align-self: flex-end;
  line-height: 1.16;
  color: #263238;
  font-size: calc(20px + 4 * ((100vw - 320px)/(1440 - 320)));
  margin-bottom: 15px;
}
.contacts__footer-address {
  flex: 0 0 28.3%;
  font-weight: 300;
  line-height: 149.19%;
  color: #263238;
}
.contacts__footer-address span {
  font-weight: 500;
  color: #263238;
  line-height: 1.16;
  display: inline-block;
  margin-bottom: 8px;
}
.contacts__footer-links {
  font-weight: 300;
  line-height: 149.19%;
  color: #263238;
}
.contacts__footer-links a:hover {
  text-decoration: underline;
}
@media (max-width: 901.98px){
  .contacts__header-logo,
  .contacts__footer-address {
    flex: 0 0 35%;
  }
}
@media (max-width: 704.98px){
  .contacts__header-logo,
  .contacts__footer-address {
    flex: 0 0 40%;
  }
  .contacts__container {
    padding-top: 30px;
    padding-bottom: 15px;
  }
}
@media (max-width: 609.98px) {
  .contacts__container{
    flex-direction: row;
    column-gap: 10px;
  }
  .contacts__header,
  .contacts__footer {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .contacts__header-logo,
  .contacts__header-title {
    margin-bottom: 0;
    align-self: flex-start;
  }
  .contacts__header-title,
  .contacts__footer-links {
    flex: 0 0 70px;
  }
  .contacts__header-logo,
  .contacts__footer-address{
    flex: 0 0 80px;
  }
}

@media (max-width: 424.98px) {
  .contacts__header {
    flex: 1 0 71px;
    overflow: hidden;
  }
  .contacts__footer {
    flex: 1 1 auto;
  }
}
@media (max-width: 374.98px) {
  .contacts__header-logo,
  .contacts__footer-address {
    flex: 0 0 88px;
  }
}


/* @media (max-width: 339.98px) {
  .contacts__header {
    flex: 1 0 71px;
    overflow: hidden;
  }
  .contacts__footer {
    flex: 1 1 auto;
  }
} */
/* ================================================================ */
.footer__container {
  max-height: 64px;
  background-color: #EE4248;
}
.footer__copy {
  text-align: center;
  color: #fff;
  line-height: 1.16;
}
.footer__copy span {
  font-weight: 500;
}